body {
    color: #eeeef1;
    background-color: #101010;
    font-family: Verdana, sans-serif;
}

h2, h3 {
    color: #a66520;
}

.nav > .menu > h3 {
    color: #ffffd7;
}

.nav > .menu > a {
    display: inline-block;
    margin-bottom: 8px;
}

.content {
    width: 800px;
    text-align: left;
    display: table-cell;
}

.content > h2, .content > h3 {
    margin-top: 25px;
}

.nav {
    width: 275px;
    padding-left: 25px;
    display: table-cell;
}

.logo {
    margin-left: -10px;
}

img {
    width: 64px;
    height: auto;
}

.sep {
    background-color: #daa520;
    width: 100%;
    height: 5px;
    border-radius: 5px;
}

.release {
    margin-bottom: 15px;
}

.menu {
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu-sep {
    color: #a66520;
}

a, a:visited {
    color: #daa520;
    text-decoration: none;
}

pre {
    background-color: #0c0c0c;
    border-radius: 5px;
    padding: 15px;
}

small {
    color: gray;
}
