# $ cp macos.sysctl.plist /Library/LaunchDaemons/com.startup.sysctl.plist
# $ sudo chown root:wheel /Library/LaunchDaemons/com.startup.sysctl.plist
# $ sudo launchctl load /Library/LaunchDaemons/com.startup.sysctl.plist

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.startup.sysctl</string>
    <key>LaunchOnlyOnce</key>
    <true/>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/sbin/sysctl</string>
        <string>kern.sysv.shmmni=4096</string>
        <string>kern.sysv.shmseg=4096</string>
        <string>kern.sysv.shmall=102400000</string>
        <string>kern.sysv.shmmax=102400000</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
