[Unit]
Description=Sanctum daemon
Wants=network.target
After=network.target

[Service]
Type=exec
Restart=always
RestartSec=10
KillSignal=SIGQUIT
Environment=CONF_DIR="/etc/sanctum"
ExecStart=sanctum -c "${CONF_DIR}/%i.conf"

[Install]
WantedBy=multi-user.target
